
    .page-content{
        position: absolute;
        left:360px;
        top:64.15px;
        width:75%;
        height: calc(100vh - 64.15px);
        padding-top:300px;
        text-align:center;
        font-size:32px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color:white;
    }
